DPE_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dpe.toolswatch.org/dictionary/0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DPE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="release">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="product_name"/>
              <xs:element type="xs:float" name="product_version"/>
              <xs:element type="xs:float" name="schema_version"/>
              <xs:element type="xs:date" name="timestamp"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vendor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="model">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="info">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="cve"/>
                            <xs:attribute type="xs:byte" name="port"/>
                            <xs:attribute type="xs:string" name="protocol"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="credential">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="password"/>
                            <xs:attribute type="xs:string" name="username"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="cpe"/>
                  <xs:attribute type="xs:string" name="description"/>
                  <xs:attribute type="xs:string" name="dpeid"/>
                  <xs:attribute type="xs:string" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>